@page
@model MorseCodeApp2.Pages.CustomMasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomMask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMask.Character)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMask.Character)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMask.CustomEquivalent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMask.CustomEquivalent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMask.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMask.User.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomMask.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
